# Part 1: Mini Project - Movie Database Analysis
## UCSanDiegoX: DSE200x: Python for Data Science

Please note that **you will need to download the dataset**. 

Here are the links to the data source and location:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

Once the download completes, please make sure the data files are in a directory called *movielens* in your *Week-3-pandas* folder.

## Data Import

The following section imports the three datasets needed as well as displays the count of records in each database as well as the head (first few rows) of each for a quick view into the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import chain
from collections import Counter

In [2]:
movies = pd.read_csv('./movielens/movies.csv', sep=',')
movies.count()

movieId    27278
title      27278
genres     27278
dtype: int64

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('./movielens/ratings.csv', sep=',', parse_dates=['timestamp'])
ratings.count()

userId       20000263
movieId      20000263
rating       20000263
timestamp    20000263
dtype: int64

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

## Data Analysis

First let's look at the popularity of Genre's over time (by count)

In [6]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)

In [7]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

### Clean Up the Data

* Convert the Year to a number
* Clean out any null values

In [8]:
# convert column "a" of a DataFrame
# df["a"] = pd.to_numeric(df["a"])

movies['year'] = pd.to_numeric(movies['year'],errors='coerce',downcast='integer')

In [9]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0
4,5,Father of the Bride Part II (1995),Comedy,1995.0

In [10]:
movies['year'].isnull().any()

True

In [11]:
movies.dropna()
movies.count()

movieId    27278
title      27278
genres     27278
year       27255
dtype: int64

## Get New Columns for Popular Genres - Option #1

**Attempt to use a list inside the cell using the string split command**

Here we're going to see if there are any trends over time relative to genres.  Speficially `comedy`, `action`, and `drama`.

In [35]:
# https://stackoverflow.com/questions/54281070/
#in-a-pandas-dataframe-column-how-can-i-count-the-values-if-the-cells-contents

# This method works but is a little slower than the next one. But it's sorted!
genre_count = movies['genres'].str.split('|', expand=True).stack().value_counts()
genre_count

# This method is much much faster
# genre_count = pd.Series(Counter(chain.from_iterable(x.split('|') for x in movies.genres)))
# genre_count

Drama                 13344
Comedy                 8374
Thriller               4178
Romance                4127
Action                 3520
Crime                  2939
Horror                 2611
Documentary            2471
Adventure              2329
Sci-Fi                 1743
Mystery                1514
Fantasy                1412
War                    1194
Children               1139
Musical                1036
Animation              1027
Western                 676
Film-Noir               330
(no genres listed)      246
IMAX                    196
dtype: int64

## Create a New Table Summarizing the Values by Year

Here we're going to group by the years - just for the past 25 years however.

In [ ]:
by_year = movies.groupby("year",as_index=False).sum()
by_year[-25:].tail()

In [ ]:
total_films = movies.groupby("year",as_index=False).count()
total_films[-25:].tail()

In [ ]:
%matplotlib inline

plt.figure(figsize=(12, 7.5))
# print(plt.style.available)
plt.style.use('seaborn-poster')

# Leave the first row uncommented if you want to display the total
plt.plot(total_films['year'], total_films['title'], label='Total', color='black')
plt.plot(by_year['year'], by_year['isComedy'], label='Comedy')
plt.plot(by_year['year'], by_year['isAdventure'], label='Adventure')
plt.plot(by_year['year'], by_year['isHorror'], label='Horror')
plt.plot(by_year['year'], by_year['isDrama'], label='Drama')
plt.plot(by_year['year'], by_year['isRomance'], label='Romance')

plt.xlabel('Year')
plt.ylabel('Total Movies by Genre')
plt.title("Comparison of Genres by Year")
plt.legend()

plt.show()

### Similar chart with Total on the secondary axis

This is about the same thing yet trying to plot the total on the right to smooth out the graph.

In [ ]:
%matplotlib inline

fig, ax1 = plt.subplots(figsize=(10, 7.5))


ax1.plot(total_films['year'], total_films['title'], label='Total', color='black')

ax2 = ax1.twinx() 

ax2.plot(by_year['year'], by_year['isComedy'], label='Comedy')
ax2.plot(by_year['year'], by_year['isAdventure'], label='Adventure')
ax2.plot(by_year['year'], by_year['isHorror'], label='Horror')
ax2.plot(by_year['year'], by_year['isDrama'], label='Drama')
ax2.plot(by_year['year'], by_year['isRomance'], label='Romance')

ax1.set_xlabel('Year')
ax1.set_ylabel('Total Movies by Genre')
ax2.set_ylabel('Total Movies Produced')
ax1.set_title("Comparison of Genres by Year")

ax1.legend(bbox_to_anchor=(1.1, .98), loc=2, borderaxespad=0.)
ax2.legend(bbox_to_anchor=(-0.4, 0.98), loc=2, borderaxespad=0.)
#plt.tight_layout()
plt.show()

### Is there a correlation of Genre's to years?

In [ ]:
by_year.corr()